.add-email ,.edit-email-alert{
    position:fixed;
    z-index:12;
    top:200px;
    left:0;
    right:0;
    margin:0 auto;
    background:#ddd;
    width:300px;
    text-align: center;
    display:none;
}
.add-email h5,.edit-email-alert h5{
    background:#fff;
    padding:10px 0;
    margin:0;
    text-align: center;
}
.add-email div,.edit-email-alert div{
    margin: 15px 0;
}
.add-email-close{
    float:right;
    margin-right:10px;
    cursor:pointer;
}
.edit-email-close{
    float:right;
    margin-right:10px;
    cursor:pointer;
}