#add-script-alert {
    position:fixed;
    z-index:10;
    width:500px;
    height:auto;
    background:#eeeeee;
    margin:auto;
    top:250px;
    left:0;
    right:0;
    display:none;
}
#add-script-alert ul {
    list-style: none;
    margin:0;
    padding:0;
}
#add-script-alert li{
    line-height:28px;
    margin:10px 0;

}
#add-script-alert input {
    width:250px;
}
#add-script-alert .li-title {
    display: inline-block;
    margin-left:10px;
    margin-right:5px;
    width:180px;
    text-align: right;
}
.list-title {
    text-align: center;
}
.list-name {
    text-align: center;
}
.ps-scrollbar-y-rail {
    z-index:10;
}
.list-user-single{
    text-align: center;
}
.type1, type2, .type3, .type4{
    display:none;
}
.type1 show,.tpye2 show, .type3 .show ,.type4 .show{
    display:block;
}
.script-reload {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
}
.task-result-alert{
    position:fixed;
    z-index:12;
    width:500px;
    height:auto;
    background:#eeeeee;
    margin:auto;
    top:300px;
    left:0;
    right:0;
    display:none;
    padding-bottom: 5px;
}
.task-result-alert h5{
    text-align: center;
    margin: 0;
    background: rgb(7, 215, 252);
    padding: 10px 0;
    color:#fff;
}
.task-result-message{
    line-height:1.6em;
    margin-left:10px;
}
.result-alert-close{
    float:right;
    font-size:20px;
    margin-right: 20px;
    margin-top: -4px;
    cursor: pointer;
}
.result-close-btn {
    width:150px;
    background:rgb(110, 253, 241);
    border:0;
    line-height:1.5em;
    font-size:16px;
    border-radius:5px;
}
.tc{
    text-align:center;
}